<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee 
         https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <display-name>BookStore_24162073</display-name>

    <!-- Character Encoding Filter (phải đặt trước SiteMesh) -->
    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>com.nhm.bookstore.filter.EncodingFilter_24162073</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>csrfFilter</filter-name>
        <filter-class>com.nhm.bookstore.filter.CsrfFilter_24162073</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>csrfFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- SiteMesh Filter -->
    <filter>
        <filter-name>sitemesh</filter-name>
        <filter-class>org.sitemesh.config.ConfigurableSiteMeshFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>sitemesh</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Auth Filter (chặn trang yêu cầu đăng nhập) -->
    <filter>
        <filter-name>authFilter</filter-name>
        <filter-class>com.nhm.bookstore.filter.AuthFilter_24162073</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>authFilter</filter-name>
        <url-pattern>/review</url-pattern>
        <url-pattern>/profile</url-pattern>
        <url-pattern>/checkout</url-pattern>
        <url-pattern>/checkout/*</url-pattern>
        <url-pattern>/order-history</url-pattern>
        <url-pattern>/order-detail</url-pattern>
        <url-pattern>/order/cancel</url-pattern>
    </filter-mapping>

    <!-- Admin Filter -->
    <filter>
        <filter-name>adminFilter</filter-name>
        <filter-class>com.nhm.bookstore.filter.AdminFilter_24162073</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>adminFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>

    <!-- Welcome file -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!-- Session timeout 30 phút -->
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
